input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6,
input.sheet-tab7:checked ~ div.sheet-tab7, {
    display: block;
}

.sheet-main {
    color: black;
    font-family: "Contrail One";
    font-size: 10pt;
    min-width: 800px;
}

.sheet-skills-headings {
    font-weight: bold;
    text-align: center;
}

.sheet-skills-headings.sheet-left {
    text-align: left;
}

.sheet-skills-container {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 20px;
    max-height: 20px;
}

.sheet-skills {
    margin: 1px 2px;
    padding: 0;
}

button[type=roll].sheet-skill-roll {
    background: none;
    border: none;
    border-image: none;
    border-radius: 0;
    box-shadow: none;
    color: black;
    display: flex;
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

button[type=roll].sheet-skill-roll::before {
    content: none;
}

button[type=roll].sheet-d6 {
    font-family: dicefontd6;
    font-size: large;
}

.sheet-skills.sheet-content {
    border-color: #000000;
    border-radius: 0;
    border-style: none none solid;
    border-width: thin;
    color: black;
}

.sheet-skill {
    flex-grow: 1;
}

.sheet-skills-skill-level {
    width: 20px;
}

.sheet-skills-linked-attributes {
    width: 100px;
}

.sheet-skills-modifier {
    width: 22px;
}

.sheet-skills-tnc {
    width: 32px;
}

.sheet-skills-xp, input[type=number].sheet-skills-xp {
    width: 26px;
}

.sheet-skill-roll {
    width: 20px;
}

select.sheet-skills::-ms-expand {
    display: none;
}

select.sheet-skills {
    height: auto;
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type=number].sheet-skills::-webkit-inner-spin-button,
input[type=number].sheet-skills::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].sheet-skills {
    -moz-appearance: textfield;
}

span.sheet-skills, input.sheet-skills, select.sheet-skills {
    line-height: 1;
}

.sheet-skills-labels {
    bottom: 0;
    text-align: center;
}

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
}

input.sheet-tab::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    background: #fff;
    background: -moz-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -webkit-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -ms-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: -o-linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;
}

input.sheet-tab:checked::before {
    background: #dcdcdc;
    background: -moz-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -webkit-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -ms-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: -o-linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child)::before {
    border-left: none;
}

div.sheet-tab-content {
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
}

button[type=roll].sheet-blank-roll-button::before {
    content: none;
}

button[type=roll].sheet-blank-roll-button {
    text-align: center;
    text-decoration: none;
    background:none;
    background-image:none;
    border: none;
    box-shadow: none;
    text-shadow: none;
    padding: inherit;
    margin: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    text-transform: inherit;
    text-align: inherit;
    vertical-align: inherit;
    border-radius: none;
}

.charsheet{
    background-color:white;
    font-family: Narkisim;
    font-size: medium;
}

.sheet-wrapper {
    overflow: auto;
    border-style: solid;
    background-color: White;
    border-color: lightGray;
    margin: 5px auto;
    border-width: thin;
    padding: 10px;
    width: 800px;
    max-width: 90%;
}

.sheet-section {
    overflow: auto;
    border-bottom: solid 1px #1E9EE3;
}

.sheet-col {
    display: block;
    float: left;
    width: 342px;
    margin-right: 5px;
    margin-left: 5px;
}

.sheet-col1 {
    display: block;
    float: left;
    width: 500px;
    margin-right: 5px;
    margin-left: 5px;
}

.sheet-input-field {
    background-color: #1E9EE3;
    display: block;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
}

.sheet-input-fieldQ1 {
    background-color: #1E9EE3;
    display: block;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
}

.sheet-input-fieldQ2 {
    background-color: #1E9EE3;
    display: block;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
}

.sheet-input-field2 {
    background-color: #565F67;
    display: block;
    border-radius: 5px;
    color: white;
    padding: 5px;
    margin: 5px;
    float: left;
}

.sheet-input-field input {
    font-family: Narkisim;
    font-size: medium;
    margin-left: 5px;
}

.sheet-input-field2 input {
    font-family: Narkisim;
    font-size: medium;
    margin-left: 5px;
}

.sheet-abilities-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 3px;
    border-collapse: separate;
}

.sheet-abilities-table th {
    background-color: #1E9EE3;
    color: white;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px;
}

.sheet-abilities-table td {
    padding: 5px;
    background-color: #9DD6F5;
    border-radius: 5px;
    text-align: center;
}

.sheet-specialties {
    width: 170px;
    height: 38px;
    margin-bottom: 0;
    resize: none;
}

.sheet-section-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 2px;
    border-collapse: separate;
}

.sheet-section-table th {
    width: 150px;
    background-color: #303030;
    color: white;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px;
}

.sheet-section-table td {
    text-align: center;
    width: 150px;
    background-color: white;
    color: #303030;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px;
}

.sheet-section-table2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-spacing: 2px;
    border-collapse: separate;
}

.sheet-section-table2 th {
    background-color: #303030;
    color: white;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px;
}

.sheet-section-table2 td {
    text-align: center;
    background-color: white;
    color: #303030;
    font-weight: normal;
    border-radius: 5px;
    padding: 5px;
}

.sheet-info {
    text-align: center;
    width: 150px;
    color: #303030;
    font-weight: normal;
    font-size: 70%;
    border-radius: 5px;
    padding: 2px;
}

.sheet-info2 {
    text-align: center;
    color: #303030;
    font-weight: normal;
    font-size: 70%;
    border-radius: 5px;
    padding: 2px;
}

h4 {
    text-align: center;
    background-color: black;
    color: white;
}

table, th, td {
    border: 1px solid black;
}

fieldset {
    border: 1px solid black;
}






.sheet-BMwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	min-width: 450px;
	
	--palette-background: #F1E2D1;
	--palette-background-accent: #723f41;
	--palette-screen-background: #181a09;
	--palette-ltext: white;
	--palette-dtext: black;
	--palette-cool-light: #9ffff5;
	--palette-cool-glow: #098C87;
	--palette-cool-trans: #098C8750;
	--palette-warm-light: #f9252650;
	--palette-warm-glow: #EB451170;
	--palette-important: #e28800;
	--palette-disabled: #463c66;
	--damage-light: #e28800;
	--damage-heavy: #e20000;
	--var-armorwidth: 80px;
	--var-armorexpand: 80px;
	--var-transition-in: cubic-bezier(.4,0,0,1.5);
	--var-transition-out: cubic-bezier(.8,.05,1,.5);
}


.sheet-BLUEwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	min-width: 600px;
	
	--palette-background: #F1E2D1;
	--palette-background-accent: #3E4582;
	--palette-screen-background: #0A0A3D;
	--palette-ltext: white;
	--palette-dtext: black;
	--palette-cool-light: #6f0ee6;
	--palette-cool-glow: #084499;
	--palette-cool-trans: #098C8750;
	--palette-warm-light: #4a0102;
	--palette-warm-glow: #EB451170;
	--palette-important: #e28800;
	--palette-disabled: #463c66;
	--damage-light: #e28800;
	--damage-heavy: #e20000;
	--var-armorwidth: 80px;
	--var-armorexpand: 80px;
	--var-transition-in: cubic-bezier(.4,0,0,1.5);
	--var-transition-out: cubic-bezier(.8,.05,1,.5);
}

.sheet-GREENwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	min-width: 300px;
	
	--palette-background: #D0D8F2;
	--palette-background-accent: #3F753E;
	--palette-screen-background: #0a1e1f;
	--palette-ltext: white;
	--palette-dtext: black;
	--palette-cool-light: #83ebc5;
	--palette-cool-glow: #084499;
	--palette-cool-trans: #098C8750;
	--palette-warm-light: #4a0102;
	--palette-warm-glow: #0a1e1f70;
	--palette-important: #e28800;
	--palette-disabled: #463c66;
	--damage-light: #e28800;
	--damage-heavy: #e20000;
	--var-armorwidth: 80px;
	--var-armorexpand: 80px;
	--var-transition-in: cubic-bezier(.4,0,0,1.5);
	--var-transition-out: cubic-bezier(.8,.05,1,.5);
}

.sheet-MANGOwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	min-width: 575px;
	
	--palette-background: #D0D8F2;
	--palette-background-accent: #d15208;
	--palette-screen-background: #0a1e1f;
	--palette-ltext: white;
	--palette-dtext: black;
	--palette-cool-light: #83ebc5;
	--palette-cool-glow: #084499;
	--palette-cool-trans: #098C8750;
	--palette-warm-light: #4a0102;
	--palette-warm-glow: #0a1e1f70;
	--palette-important: #e28800;
	--palette-disabled: #463c66;
	--damage-light: #e28800;
	--damage-heavy: #e20000;
	--var-armorwidth: 80px;
	--var-armorexpand: 80px;
	--var-transition-in: cubic-bezier(.4,0,0,1.5);
	--var-transition-out: cubic-bezier(.8,.05,1,.5);
}

.charset .sheet-wrapper h2,.charset .sheet-wrapper h3,.charset .sheet-wrapper h4 {
	display: inline-block;
	margin: 2px 5px;
	width: auto;
	padding: 0px 5px;
}
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
select {
	-moz-appearance: none; 
}
.sheet-flexrow {display: flex; flex-direction: row; justify-content: space-between; flex: 1; flex-wrap: wrap;}
.sheet-flexcol {display: flex; flex-direction: column; flex: 1;}
.sheet-col-cutoff {max-height: 1100px;}

.charsheet label {
	margin: 0px; width:auto;
}
.charsheet input[type="number"] {text-align: center;}
.sheet-titletoggle input {
	pointer-events: none;
}

input:disabled {
	background: var(--palette-disabled) !important;
	/*border-color: var(--palette-background-accent) !important;*/
	color: var(--palette-important) !important;
	text-align: center;
}

/*=============== Buttons and Checkboxes =====================*/
label.sheet-toggle-container {
	display: flex;
	justify-content: center;
	align-content: center;
	position: relative;
	transform: skew(-25deg, 0deg);
	padding: 3px;
	flex: 1;
}
label.sheet-toggle-container input {
	top: 0;
	left: 0;
	height: 0px;
	width: 0px;
	position: absolute;
}
label.sheet-toggle-container span {
	top: -5px;
	height: 15px;
	padding: 5px;
	background: var(--palette-cool-glow);
	transition: all 0.2s cubic-bezier(.4,-0.27,.72,1.21);
}
label.sheet-toggle-container span:hover {
	border-color: var(--palette-cool-light);
	box-shadow: inset 0px 0px 4px var(--palette-cool-light);
}
input.sheet-toggle:checked ~ span {
	background: var(--palette-important);
}
/*=============== Critical Checkbox =====================*/
.sheet-mechdisplay .sheet-defensedisplay input[type=checkbox] {
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	position: relative;
	opacity: 0;
}

.sheet-mechdisplay label {
	position: relative;
	content: '';
	width: 6px;
	height: 6px;
	margin: 0px;
	padding: 0px;
	border: 2px solid var(--palette-warm-light);
	border-radius: 50%;
	justify-self: center;
	align-self: center;
}
.sheet-mechdisplay label:hover {
	border-color: var(--palette-warm-glow);
	background: var(--palette-disabled);
}
.sheet-mechdisplay .sheet-defensedisplay  input[type=checkbox] + span::before {
	content: '';
	top: -3px;
	left: -3px;
	width: 12px;
	height: 12px;
	background: var(--palette-disabled);
	mix-blend-mode: exclusion;
	border-radius: 5px;
	opacity: 0;
	position: absolute;
	z-index: 1;
	transition: all 250ms;
}

.sheet-mechdisplay .sheet-defensedisplay input[type=checkbox]:checked + span::before {
	opacity: 1;
	width: 110px;
	transition: all 250ms;
}

/*============= Radio ===========*/
.sheet-radio-container {
	display: inline-flex;
	position: relative;
	bottom: -5px;
}
.sheet-radio-container {
	transform: skew(-15deg, 0deg) scaley(0.8);

}
.sheet-radio-container input {
	position: relative;
	z-index: 1;
	height: 24px;
	width: 10px !important;
	opacity: 0;
}

.sheet-radio-container input + span::before {
	content: '';
	position: absolute;
	height: 20px;
	width: 10px;
	background: var(--palette-cool-light);
	border: 2px solid var(--palette-cool-glow);
	box-shadow: unset;
	margin-left: -12px;
}

.sheet-radio-container span {
	margin-bottom: -5px;
}

input[type="radio"] {
	position: relative;
}

input[type="radio"]:checked ~ input[type="radio"]:not(:hover) + span::before {
	background: var(--palette-screen-background) ;
	border: 2px solid var(--palette-cool-glow);
}
.charsheet .sheet-radio-container input[type="radio"]:hover + span::before {
	transform: scaley(1.5);
	background: var(--palette-ltext);
	filter: drop-shadow(0 0 4px var(--palette-cool-light));
	border-color: var(--palette-cool-glow);
}

.sheet-radio-container.sheet-zero span:first-of-type::before {
	background: var(--palette-screen-background);
	border-color: var(--palette-warm-light);
}
.sheet-radio-container.sheet-zero input:first-of-type:checked + span::before {
	background: var(--palette-important);
	border-color: var(--palette-screen-background);
}
/*=============== Tab Menu =====================*/
.sheet-tab-mechwarriorskillsandatributes, .sheet-tab-battletech, .sheet-tab-dossier {display: none;}

.sheet-tabstoggle[value="mechwarriorskillsandatributes"] ~ .sheet-tab-mechwarriorskillsandatributes,
.sheet-tabstoggle[value="battletech"] ~ .sheet-tab-battletech,
.sheet-tabstoggle[value="dossier"] ~ .sheet-tab-dossier { display: block; }
	
/*=============== Batteltech Menu =====================*/
.sheet-mechmenu {
	display: flex;
}

/*=============== Battletech =====================*/

.sheet-tabwrapper {
	width: calc(100% - 28px);
	background: linear-gradient(var(--palette-background), #a85d4c);
	border: 4px outset var(--palette-background);
	padding: 10px;
}
/*================= Console ======================*/
.sheet-console + h2 {
	display: relative;
	top: -20px;
	background: var(--palette-background-accent);
	padding: 0 10px;
	border-radius: 20px;
}
.sheet-console input {
	width: auto;
}

.sheet-console input[type='checkbox'] {
	display: none;
}
/*================= TOGGLE  ======================*/
.sheet-expand_information {
	overflow: hidden;
	max-height: 0;
	transform-origin: top;
	transform: scaleY(0);
	filter: blur(5px);
	transition: all 200ms linear;
}
.sheet-toggleswitch:checked + .sheet-expand_information {
	transform: scaleY(1);
	max-height: 355px;
	border: 2px solid var(--palette-important);
	filter: blur(0px);
	border-width: 2px 2px 10px 2px;
	padding: 2px;
	margin-top: -2px;
}
.sheet-expand_information input {
	background: var(--palette-screen-background);
	border: 2px solid var(--palette-cool-glow); 
}
/*=============== Console Character ===================*/
.sheet-console-character-info {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto auto 1fr;
	grid-template-areas: 
	". name name name . affiliation affiliation affiliation"
	;
}
.sheet-console-character-info .sheet-name {grid-area: name;}
.sheet-console-character-info .sheet-affiliation {grid-area: affiliation;}

.sheet-console-character-info span {
	display: inline-flex;
	flex: 1;
}
.sheet-console-character-info input {
	width: 100%;
	margin: 0 10px;
	flex: 1;
}
.sheet-console-character-info .sheet-appearance{flex:3;}

/*=============== Console Attribute ===================*/
.sheet-console-attribute {
	display: grid;
	grid-template-columns: 1fr 50px 50px 50px 50px;
}
.sheet-console-attribute h2 {
	grid-column: 1 / span 2;
}
.sheet-console-attribute h4 {
	align-self: end;
	text-align: center;
}
.sheet-console-attribute input {
	align-self: center;
	text-align: center;
	justify-self: center;
}
.sheet-console-attribute h3:hover {
	color: var(--palette-ltext);
}
.sheet-console-attribute input:checked + label {
	background: var(--palette-important);
}
.sheet-console-attribute input:checked + label h3 {
	color: var(--palette-ltext);
}
/*=============== Console Trait ===================*/
.sheet-console-traits .repitem {
	display: grid;
	grid-template-columns: 1fr;
}
.sheet-console-traits input {
	width: 100%;
}
.sheet-console-traits label.sheet-titletoggle  {
	flex: 0;
}
.sheet-traitbox {
	display: grid;
	box-sizing: border-box;
	grid-template-columns: 1fr 80px 80px;
	flex: 1;
}
.sheet-traitbox textarea {
	box-sizing: border-box;
	grid-column: 1 / -1;
	height: 4em;
	background: var(--palette-screen-background);
	color: var(--palette-ltext);
	outline: var(--palette-cool-glow);
	border: 2px solid var(--palette-cool-glow);
	resize: vertical;
	margin: 3px 0px;
}
.sheet-console-traits .sheet-toggleswitch:checked + div {
	background: var(--palette-cool-glow);
}
/*=============== Console Skills ===================*/
.sheet-console-skills .sheet-titletoggle:hover > input {
	box-shadow: unset;
}
.sheet-console-skills .sheet-untrained {
	display: grid;
	grid-template-columns: 1fr 50px 50px 35px;
}
.sheet-console-skills label.sheet-titletoggle  {
	flex: 10;
}
/*=============== Console Combat ===================*/
.sheet-weaponlabel {
	background-color: var(--palette-cool-glow);
	position: relative;
}
.sheet-weaponlabel::before {
	content: "";
	background: var(--palette-important);
	position: absolute;
	display: block;
	transform: scaley(0.05);
	
	z-index: 0;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transition: all 200ms ease;
	transform-origin: bottom left;
}
.sheet-toggleswitch:checked + .sheet-weaponlabel::before, .sheet-weaponlabel:hover::before {
	transform: scaley(0.85);
}
.sheet-toggleswitch:checked + .sheet-weaponlabel, .sheet-weaponlabel:hover {
	background: var(--palette-background-accent);
}
.sheet-weaponlabel h2 {
	position: relative;
}
.sheet-console-armor .sheet-armorgrid:first-of-type {
	align-self: unset;
}
.sheet-armorgrid {
	display: inline-grid;
	width: auto;
	flex: 1;
	grid-template-columns: 1fr 40px 40px 40px 40px 40px;
	justify-content: center;
}

.sheet-armorgrid h4 {align-self: end; text-align: center;}
.sheet-armorgrid input[type='number'] {
	width: auto;
	text-align: center;
}

.sheet-armorcontroller ~ .sheet-armor1, 
.sheet-armorcontroller ~ .sheet-armor2, 
.sheet-armorcontroller ~ .sheet-armor3, 
.sheet-armorcontroller ~ .sheet-armor4, 
.sheet-armorcontroller ~ .sheet-armor5, 
.sheet-armorcontroller ~ .sheet-armor6 {
	width: 100%;
	display: flex;
	transform: scaley(0);
	transform-origin: top left;
	overflow: hidden;
	max-height: 0;
	transition: all 200ms linear;
}
.sheet-armorcontroller[value*="1"] ~ .sheet-armor1, 
.sheet-armorcontroller[value*="2"] ~ .sheet-armor2,
.sheet-armorcontroller[value*="3"] ~ .sheet-armor3,
.sheet-armorcontroller[value*="4"] ~ .sheet-armor4,
.sheet-armorcontroller[value*="5"] ~ .sheet-armor5,
.sheet-armorcontroller[value*="6"] ~ .sheet-armor6 {
	transform: scaley(1);
	flex: 1;
	max-height: 40px;
}
.charsheet .sheet-weaponinfo {
	display: grid;
	grid-template-columns: 1fr 30px 30px 55px 30px 30px 30px 30px 40px 40px;
	grid-template-areas: 
	"name name name notes notes notes notes notes notes notes"
	"skill ap dmg type range-s range-m range-l range-e shots roll";
	margin-bottom: 5px;
	padding-bottom: 3px;
}
.charsheet .sheet-weaponinfo input {
	width: auto !important;
	flex: 1;
}
.sheet-weaponinfo:hover, .sheet-weaponinfo:focus-within {
	background: var(--palette-cool-light);
}
.sheet-weaponinfo .sheet-name {grid-area: name;}
.sheet-weaponinfo .sheet-notes {grid-area: notes;}
.sheet-weaponinfo .sheet-skill {grid-area: skill;}
.sheet-weaponinfo .sheet-ap {grid-area: ap;}
.sheet-weaponinfo .sheet-ap {grid-area: dmg;}
.sheet-weaponinfo .sheet-type {grid-area: type;}
.sheet-weaponinfo .sheet-range-s {grid-area: range-s;}
.sheet-weaponinfo .sheet-range-m {grid-area: range-m;}
.sheet-weaponinfo .sheet-range-l {grid-area: range-l;}
.sheet-weaponinfo .sheet-range-e {grid-area: range-e;}
.sheet-weaponinfo .sheet-shots {grid-area: shots;}
.sheet-weaponinfo .sheet-roll {grid-area: roll;}

/*=============== Console Combat --- Wounds ===================*/
.sheet-woundgrid {
	display: grid;
	grid-template-columns: 1fr 40px 2fr 1fr;
	width: auto;
	flex: 1;
	justify-content: center;
}
.sheet-armorlocations {
	display: grid;
	flex: 1;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: 
		". head ."
		"arms chest hands"
		"legs abdomen feet";
}
.sheet-armorlocations input, .sheet-woundgrid input {
	background: #181a0990 !important;
	text-align: center;
}
.sheet-armor-head {grid-area: head;} 
.sheet-armor-chest {grid-area: chest;} .sheet-armor-abdomen {grid-area: abdomen;}
.sheet-armor-arms {grid-area: arms;} .sheet-armor-hands {grid-area: hands;}
.sheet-armor-legs {grid-area: legs;} .sheet-armor-feet {grid-area: feet;}

.sheet-woundgrid .sheet-radio-container span:first-of-type::before {
	background: var(--palette-screen-background);
	border-color: var(--palette-warm-light);
}
.sheet-woundgrid .sheet-radio-container input:first-of-type:checked + span::before {
	background: var(--palette-important);
	border-color: var(--palette-screen-background);
}



/*===================== CSS =========================*/
/*=============== Medical Image MechWarrior =========*/
.sheet-medical-image {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	background: url('https://i.imgur.com/Mws2Ehn.gif');
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	
	transition: 400ms;
}




.sheet-medical-image div div:nth-child(1), .sheet-medical-image div div:nth-child(2) {
	opacity: 0;
	transform: translate(-100px, 0);
	filter: blur(5px);
	backdrop-filter:blur(5px) opacity(0);
	transition: 400ms var(--var-transition-out) 1000ms;
}
.sheet-medical-image:hover div div:nth-child(1), .sheet-medical-image:hover div div:nth-child(2) {
	opacity: 1;
	transform: translate(0, 0);
	filter: blur(0px);
	backdrop-filter:blur(5px) opacity(1);
	transition: 300ms var(--var-transition-in);
}

.sheet-vitalstats {
	display: grid;
	grid-template-columns: 1fr 50px 1fr 50px;
}
/*=============== Console Skills ===================*/

.charsheet .sheet-console-skills input {
	width: 100%;
}
.charsheet .sheet-console-skills input[type="number"] {
	text-align: center;
}
.charsheet .sheet-console-skills select {
	margin: auto;
}
.sheet-skillbox {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 40px 40px 40px 40px;
}
.sheet-console-skills .sheet-skillbox input {
	width: auto;
}
label.sheet-titletoggle input[type="checkbox"]:checked + input[type="text"] {
	background: var(--palette-important);
	border-color: var(--palette-important);
	border-style: solid;
	border-radius: 0px;
}
/*=============== Phys Console ===================*/

.sheet-physconsole {
	background: var(--palette-background-accent) url(https://i.imgur.com/135QCMn.gif) left top;
	background-position: -10px -30px;
	background-size: 80%;
	background-blend-mode: overlay;
	border: 4px outset var(--palette-background-accent);
	border-radius: 4px;
	color: var(--palette-ltext);
	padding: 5px;
	margin: 5px;
	flex: 1;
}
.sheet-flexcol .sheet-physconsole {flex: 0;}

.sheet-physconsole h2, .sheet-physconsole h3, .sheet-physconsole h4 {line-height: normal; color: var(--palette-ltext); margin: 0px 3px;}

.sheet-physconsole h2, .sheet-physconsole h3 {color: var(--palette-important);}

.sheet-physconsole input {
	background-color: var(--palette-warm-light);
	height: 20px;
	border: 3px ridge var(--palette-background-accent);
	color: var(--palette-ltext);
	margin: 2px;
}

.sheet-physconsole button {
	background: var(--palette-screen-background);
	color: var(--palette-important);
	border: 4px double var(--palette-warm-light);
}

/*=============== Screen Display ===============*/
.sheet-screendisplay {
	background: var(--palette-screen-background);
	color: var(--palette-ltext);
	border: 4px inset var(--palette-background-accent);
	margin: 5px;
	padding: 5px 15px 15px 15px;
	flex: 1;
	box-shadow: inset 0 0 5px var(--palette-cool-glow), inset 0 0 24px #44FFff55, inset 0 0 32px #44FFff22;
	overflow-y: scroll;
	overflow-x: hidden;
}
.sheet-screendisplay select {
	color: var(--palette-ltext);
	height: 32px;
	margin: 1px;
	flex: 1;
}

.sheet-screendisplay input, .sheet-screendisplay label input {
	background: var(--palette-screen-background);
	border: 4px solid var(--palette-cool-glow);
	border-width: 4px 1px 2px 1px;
	color: var(--palette-ltext);
	margin: 1px;
	min-width: 10px;
	transition: all 200ms ease 200ms;
}
.sheet-screendisplay h2, .sheet-screendisplay h3, .sheet-screendisplay h4 {color: var(--palette-ltext); display: inline-block; padding: 0px 5px;}
.sheet-screendisplay input:hover, .sheet-screendisplay label:hover input {
	box-shadow: 
	  0px 0px 2px var(--palette-cool-glow), 
	  2px 0px 5px var(--palette-cool-glow), 
	  inset 0 0 10px var(--palette-cool-glow);
	  transition: all 10ms;
  }

.sheet-screendisplay input:focus, .sheet-screendisplay label input:focus {
	outline: none;
	border-color: var(--palette-cool-light);
	animation: example 1.06s infinite;
	animation-timing-function: ease-in-out;
	
}

@keyframes example {
	50% {background-color: var(--palette-cool-glow);}
}

@keyframes example {
	50% {background-color: var(--palette-cool-glow);}
}

.sheet-screendisplay select {
	appearance: none;
	background-color: var(--palette-screen-background);
	outline: none;
	border: 2px solid var(--palette-cool-glow);
	border-width: 4px 1px 2px 1px;
	height: 100%;
	width: 100%;
	padding: 2px 5px;
	margin: 2px;
}
.sheet-screendisplay select::-ms-expand {display: none;}

.sheet-screendisplay button {
	background: var(--palette-cool-light);
	color: var(--palette-screen-background);
	border: 4px double var(--palette-screen-background);
}

/*=============== Mech Display ===============*/
.sheet-mechdisplay {
	background: var(--palette-screen-background);
	position: relative;
	display: grid;
	overflow: hidden;
	margin: 5px;
	padding: 5px;
	grid-template-rows: 40px 1fr;
	box-shadow: inset 0 0 5px var(--palette-cool-glow), inset 0 0 24px #44FFff55, inset 0 0 64px #44FFff22;
	border: 2px inset var(--palette-background-accent);
	overflow: hidden;
	color: var(--palette-ltext);
}


/*=============== CSS ===================*/
/*=============== ATLAS ===================*/
.sheet-mechcontent {
	background-image: url(https://i.imgur.com/uxj6G5a.gif);
}




.sheet-tabstoggle[value="defense"] + .sheet-mechcontent {
	background-position: 50% 10px;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	transition: all 200ms;
}
.sheet-tabstoggle[value="offense"] + .sheet-mechcontent {
	background-position: 70% -40px;
	background-repeat: no-repeat;
	background-blend-mode: screen;
	transition: all 200ms;
}
.sheet-mechdisplay .sheet-mechcontent {
	position: relative;
}
.sheet-movementgrid {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1fr;
	border: 5px ridge var(--palette-background-accent);
	padding: 5px;
	align-items: center;
	justify-items: center;
	color: var(--palette-ltext);
}
/*=============== Mech Display Menu ===============*/
.sheet-offensedisplay > div, .sheet-defensedisplay > div {
	filter: drop-shadow(5px 5px 5px red) drop-shadow(-5px -5px 5px green) drop-shadow( 5px -5px 5px blue);
}

.sheet-tabstoggle[value="defense"] + div > div.sheet-defensedisplay,
.sheet-tabstoggle[value="offense"] + div > div.sheet-offensedisplay {
	height: auto;
	min-height: 600px;
	filter: blur(0px);
	transform: scale(1);
	opacity: 1;
	pointer-events: unset;
	transition: all 300ms var(--var-transition-in), filter 200ms linear 100ms;
}

.sheet-tabstoggle[value="defense"] + div > div.sheet-defensedisplay div[class*="right"],
.sheet-tabstoggle[value="defense"] + div > div.sheet-defensedisplay .sheet-head {
	transform: rotatey(10deg) scale(0.95) translateX(0);
	transition: all 300ms var(--var-transition-in) ;
}
.sheet-tabstoggle[value="defense"] + div > div.sheet-defensedisplay div[class*="left"],
.sheet-tabstoggle[value="defense"] + div > div.sheet-defensedisplay .sheet-torso-center {
	transform: rotatey(-10deg) scale(0.95)  translateX(0);
	transition: all 300ms var(--var-transition-in) ;
}

.sheet-tabstoggle[value="offense"] + div > div.sheet-offensedisplay > div,
.sheet-tabstoggle[value="defense"] + div > div.sheet-defensedisplay > div  {
	transform: translateY(0px);
	filter: drop-shadow(0px 0px 1px var(--palette-cool-trans)) drop-shadow(0px 0px 3px var(--palette-cool-trans)) drop-shadow(0px 0px 6px var(--palette-cool-trans));
	transition: transform 300ms var(--var-transition-in), filter 200ms linear 100ms;
	
}
/*=============== Offense Display =============*/
.sheet-offensedisplay {
	overflow: hidden;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 210px auto 1fr;
	grid-template-areas: 
		"gatorN . . temperature"
		"ammo ammo ammo temperature"
		"weapons weapons weapons weapons";
	opacity: 0;
	height: 0;
	filter: blur(5px);
	perspective: 600px;
	transition: 300ms;
	padding: 10px;
}

.sheet-offensedisplay input {text-align: center;}
.sheet-offensedisplay .sheet-gatorNdisplay {
	grid-area: gatorN;
	transform: translatex(-200px);
}


.sheet-offensedisplay .sheet-weapondisplay {
	grid-area: weapons;
	transform: translateY(200px);
}
.sheet-offensedisplay .sheet-ammodisplay {
	grid-area: ammo;
	transform: translatex(-200px);
	padding-right: 20px;
}
.sheet-offensedisplay .sheet-temperaturedisplay {
	grid-area: temperature;
	transform: translatex(200px);
	justify-self: center;
}
.sheet-offensedisplay .sheet-weapongrid {
	display: grid;
	grid-template-columns:  1fr 1fr 1fr 40px 40px 40px 50px 50px 50px 40px 60px;
	text-align: center;
}
.charsheet .sheet-weapongrid input[type=number], .charsheet .sheet-weapongrid input[type=text] {box-sizing: border-box; width: 100%;}
.sheet-weapondisplay h3 {font-size: 12px;}
.sheet-offensedisplay .sheet-weapondisplay h2, .sheet-weapondisplay fieldset {grid-column: 1 / -1;}

.sheet-weapongrid div:first-of-type {
	display: flex;

}
.sheet-ammodisplay .repcontainer {
	display: flex;
	flex-wrap: wrap;
}
.sheet-ammodisplay .repcontainer .repitem {
	flex: 1;
	max-width: 50%;
}
.sheet-ammogrid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	padding: 2px;
}
.sheet-ammogrid input {
	width: 100%;
}
.sheet-ammogrid .sheet-fullrow {
	grid-column: 1 / -1;
}


/*=============== Start of CLASSIC Gator Display =============*/
.sheet-gatordisplay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 50px;
	grid-template-rows: 120px auto;
	grid-template-areas: 
		"gator gator gator gator gator launch"
		"description description description description description ."
		;
	width: min-content;
}
.sheet-gatordisplay input[type="number"] {
	border: none;
	width: 26px;
	height: 26px;
}

.sheet-gatordisplay h2 {grid-column: 1 / -1;}
.sheet-gatordisplay > div[class*="gator"] span {
	color: var(--palette-cool-light);
	font-size: 60px;
	padding: 0px 8px;
	font-family: 'Gugi'; 
	line-height: 1.2;
	text-shadow:
		0 0 2px  var(--palette-cool-light), 
		0 0 4px  var(--palette-cool-light), 
		0 0 8px  var(--palette-cool-light);
}
.sheet-gatordisplay > div[class*="gator"]:hover, .sheet-gatordisplay > div[class*="gator"]:focus-within {
	background-color: var(--palette-important);
	border-radius: 15px 15px 0px 0px;
	transition: all 100ms var(--var-transition-in);
}
.sheet-offensedisplay .sheet-gatordisplay > div {
	background: var(--palette-cool-glow);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
.sheet-gatordisplay div.sheet-description {
	width: auto;
	grid-column: 1 / -1;
	padding: 10px;
	height: 0px;
	background-color: var(--palette-important);
	transition: all 500ms ease ;
	border-radius: 0px 0px 5px 5px;
}
.sheet-gatordisplay:hover .sheet-description, .sheet-gatordisplay:focus-within .sheet-description {
	height: 70px;
	transition: all 100ms var(--var-transition-in);
}
.sheet-gatordisplay:hover div.sheet-description span:after {
	font-size: 16px;
	font-family: 'Barlow Condensed';
	content: "G.A.T.O.R. Target Number Assist"
}
.sheet-gatordisplay .sheet-gator-g:hover ~ .sheet-description span::after, .sheet-gatordisplay .sheet-gator-g:focus-within ~ .sheet-description span::after {
	content: "Gunnery Skill Rating. Check the conversion table for Mechwarrior Gunner and Pilot to Battletech Gunnery and Pilot skills."
}
.sheet-gatordisplay .sheet-gator-a:hover ~ .sheet-description span::after, .sheet-gatordisplay .sheet-gator-a:focus-within ~ .sheet-description span::after {
	content: "Attacker's (YOUR) movement modifier. See Battletech Manual p.28"
}
.sheet-gatordisplay .sheet-gator-t:hover ~ .sheet-description span::after, .sheet-gatordisplay .sheet-gator-t:focus-within ~ .sheet-description span::after {
	content: "Target's (ENEMY) movement modifer. See Battletech Manual p.28"
}
.sheet-gatordisplay .sheet-gator-o:hover ~ .sheet-description span::after, .sheet-gatordisplay .sheet-gator-o:focus-within ~ .sheet-description span::after {
	content: "Other modifiers. All other modifiers (EXCEPT FOR RANGGE) such as terrain, cover, heat, damage, equipment, and target modifiers."
}
.sheet-gatordisplay .sheet-gator-r:hover ~ .sheet-description span::after, .sheet-gatordisplay .sheet-gator-r:focus-within ~ .sheet-description span::after {
	content: "Range modifier. Adjust per weapon type for range."
}
.sheet-gatordisplay div.sheet-launch {
	
	width: auto !important;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}


.sheet-gatordisplay div.sheet-launch span {
	writing-mode: vertical-lr;
	line-height: 1;
	color: var(--palette-cool-light);
	text-shadow:
		0 0 1px  var(--palette-cool-light), 
		0 0 2px  var(--palette-cool-light), 
		0 0 4px  var(--palette-cool-light);
}
/*=============== End of CLASSIC Gator Display =============*/



/*=============== Start of GatorN Display =============*/
.sheet-gatorNdisplay {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 50px;
	grid-template-rows: 150px auto;
	grid-template-areas: 
		"gatorN gatorN gatorN gatorN gatorN gatorN launch"
		"description description description description description ."
		;
	width: min-content;
}
.sheet-gatorNdisplay input[type="number"] {
	border: none;
	width: 26px;
	height: 26px;
}

.sheet-gatorNdisplay h2 {grid-column: 1 / -1;}
.sheet-gatorNdisplay > div[class*="gatorN"] span {
	color: var(--palette-cool-light);
	font-size: 60px;
	padding: 0px 8px;
	font-family: 'Gugi'; 
	line-height: 1.2;
	text-shadow:
		0 0 2px  var(--palette-cool-light), 
		0 0 4px  var(--palette-cool-light), 
		0 0 8px  var(--palette-cool-light);
}
.sheet-gatorNdisplay > div[class*="gatorN"]:hover, .sheet-gatorNdisplay > div[class*="gatorN"]:focus-within {
	background-color: var(--palette-important);
	border-radius: 15px 15px 0px 0px;
	transition: all 100ms var(--var-transition-in);
}
.sheet-offensedisplay .sheet-gatorNdisplay > div {
	background: var(--palette-cool-glow);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 5px;
}
.sheet-gatorNdisplay div.sheet-description {
	width: auto;
	grid-column: 1 / -1;
	padding: 10px;
	height: 0px;
	background-color: var(--palette-important);
	transition: all 500ms ease ;
	border-radius: 0px 0px 5px 5px;
}
.sheet-gatorNdisplay:hover .sheet-description, .sheet-gatorNdisplay:focus-within .sheet-description {
	height: 70px;
	transition: all 100ms var(--var-transition-in);
}
.sheet-gatorNdisplay:hover div.sheet-description span:after {
	font-size: 16px;
	font-family: 'Barlow Condensed';
	content: "G.A.T.O.R.N. Target Number Assist"
}
.sheet-gatorNdisplay .sheet-gatorN-g:hover ~ .sheet-description span::after, .sheet-gatorNdisplay .sheet-gatorN-g:focus-within ~ .sheet-description span::after {
	content: "Gunnery Skill Rating. Check the conversion table for Mechwarrior Gunner and Pilot to Battletech Gunnery and Pilot skills."
}
.sheet-gatorNdisplay .sheet-gatorN-a:hover ~ .sheet-description span::after, .sheet-gatorNdisplay .sheet-gatorN-a:focus-within ~ .sheet-description span::after {
	content: "Attacker's (YOUR) movement modifier. See Battletech Manual p.28"
}
.sheet-gatorNdisplay .sheet-gatorN-t:hover ~ .sheet-description span::after, .sheet-gatorNdisplay .sheet-gatorN-t:focus-within ~ .sheet-description span::after {
	content: "Target's (ENEMY) movement modifer. See Battletech Manual p.28"
}
.sheet-gatorNdisplay .sheet-gatorN-o:hover ~ .sheet-description span::after, .sheet-gatorNdisplay .sheet-gatorN-o:focus-within ~ .sheet-description span::after {
	content: "Other modifiers. All other modifiers (EXCEPT FOR RANGGE) such as terrain, cover, heat, damage, equipment, and target modifiers."
}
.sheet-gatorNdisplay .sheet-gatorN-r:hover ~ .sheet-description span::after, .sheet-gatorNdisplay .sheet-gatorN-r:focus-within ~ .sheet-description span::after {
	content: "Range modifier. Adjust per weapon type for range."
}
.sheet-gatorNdisplay .sheet-gatorN-n:hover ~ .sheet-description span::after, .sheet-gatorNdisplay .sheet-gatorN-n:focus-within ~ .sheet-description span::after {
	content: "Enter only positive numbers.  Any Negative Numbers are entered here, as a positive number"
}
.sheet-gatorNdisplay div.sheet-launch {
	
	width: auto !important;
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}


.sheet-gatorNdisplay div.sheet-launch span {
	writing-mode: vertical-lr;
	line-height: 1;
	color: var(--palette-cool-light);
	text-shadow:
		0 0 1px  var(--palette-cool-light), 
		0 0 2px  var(--palette-cool-light), 
		0 0 4px  var(--palette-cool-light);
}
/*=============== End of GatorN Display =============*/

/*=============== Temperature Display =============*/
.sheet-heatpenalties {
	display: flex;
	flex-direction: column;
	padding: 15px 2px;
	width: 180px;
	
}
div.sheet-heatpenalties div {
	display: flex;
	justify-content: space-between;
	align-content: center;
	
}
div.sheet-heatpenalties div div {
	transform: translatey(17px);
	background: var(--palette-important);
	border: 1px solid var(--palette-screen-background);
	padding-left: 10px;
	flex: 1;
	transition: transform 200ms, background-position 300ms ease 100ms;
}
div.sheet-heatpenalties div input {
	width: 40px;
	height: 20px;
	border: none;
	background: var(--palette-screen-background);
	transform: skew(0deg, 15deg) translatey(12px);
}
div.sheet-heatpenalties div input + div {
	background: linear-gradient(90deg, rgba(223,138,8,1) 0px, rgba(166,62,0,1) 80px, rgba(33,24,24,1) 150px, rgba(0,0,0,0) 300px);
	background-size: 300px;
}
div.sheet-heatpenalties div:nth-child(17) input:not([value~="1"]) + div,
div.sheet-heatpenalties div:nth-child(16) input:not([value~="2"]) + div,
div.sheet-heatpenalties div:nth-child(15) input:not([value~="3"]) + div,
div.sheet-heatpenalties div:nth-child(14) input:not([value~="4"]) + div,
div.sheet-heatpenalties div:nth-child(13) input:not([value~="5"]) + div,
div.sheet-heatpenalties div:nth-child(12) input:not([value~="6"]) + div,
div.sheet-heatpenalties div:nth-child(11) input:not([value~="7"]) + div,
div.sheet-heatpenalties div:nth-child(10) input:not([value~="8"]) + div,
div.sheet-heatpenalties div:nth-child(9) input:not([value~="9"]) + div,
div.sheet-heatpenalties div:nth-child(8) input:not([value~="10"]) + div,
div.sheet-heatpenalties div:nth-child(7) input:not([value~="11"]) + div,
div.sheet-heatpenalties div:nth-child(6) input:not([value~="12"]) + div,
div.sheet-heatpenalties div:nth-child(5) input:not([value~="13"]) + div,
div.sheet-heatpenalties div:nth-child(4) input:not([value~="14"]) + div,
div.sheet-heatpenalties div:nth-child(3) input:not([value~="15"]) + div,
div.sheet-heatpenalties div:nth-child(2) input:not([value~="16"]) + div,
div.sheet-heatpenalties div:nth-child(1) input:not([value~="17"]) + div
{
	background: linear-gradient(90deg, rgba(223,138,8,1) 0px, rgba(166,62,0,1) 80px, rgba(33,24,24,1) 150px, rgba(0,0,0,0) 300px);
	background-position: -150px;
	background-size: 300px;
	color: var(--palette-cool-glow);
	transform: skew(0deg, -15deg);
}


/*=============== Defense Display =============*/
.sheet-defensedisplay {
	position: relative;
	display: grid;
	height: 0;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas: 
		"head mech mech torso-c"
		"torso-r mech mech torso-l"
		"arm-r mech mech arm-l"
		"arm-r leg-r leg-l arm-l";
	perspective-origin: 50% 70%;
	perspective: 600px;
	transition: 300ms;
	margin: auto;
	max-width: 900px;

	filter: blur(5px);
	opacity: 0;
	pointer-events: none;
}
.sheet-defensedisplay > div {
	margin: 1px;
}
.sheet-defensedisplay > div:hover {
	transform: none !important;
	transition-delay: 0ms !important;
}
.sheet-defensedisplay .sheet-radio-container input:first-of-type + span::before {
	background: var(--palette-screen-background);
	border-color: var(--palette-warm-light)
}
.sheet-defensedisplay .sheet-radio-container input:first-of-type:checked + span::before {
	background: var(--palette-important);
	border-color: var(--palette-background-accent)
}
/*=============== Armor Cards =============*/
.sheet-armordisplay {
	position: relative;
	grid-area: mech;
	overflow: hidden;
	
}
.sheet-mechdisplay .sheet-card {
	display: flex;
	flex-basis: auto;
	align-items: center;
	width: fit-content;
	box-sizing: border-box;
	padding: 0 10px 0 10px;

	background: var(--palette-screen-background);

	height: 60px;
	border: 5px double var(--palette-cool-glow);
	border-radius: 40px 0px 40px 40px;
	transition: all 0.2s cubic-bezier(.4,-0.27,.72,1.21);
}
.sheet-armorcard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: var(--var-armorwidth);
	
	opacity: 0.85;
	transform: skew(0deg, 0deg);
	transition: all 200ms;
}

.sheet-armorcard div {
	background: var(--palette-cool-glow);
	padding: 0px 5px;
}

.sheet-armorcard div:first-of-type + div {
	background: var(--palette-background-accent);
	overflow: hidden;
	flex-basis: auto;
	height: 0px;
	transition: all 200ms 400ms;
}
.sheet-armorcard div:first-of-type + div input {
	border-color: var(--palette-background-accent);
	transition: all 200ms;
}
.sheet-armorcard:hover div:first-of-type + div, .sheet-armorcard:focus-within div:first-of-type + div {
	flex-basis: auto;
	height: 20px;
	transition: all 200ms ;
}
.sheet-armorcard:hover, .sheet-armorcard:focus-within {
	transform: skew(15deg, 0deg);
}
.sheet-armorcard input[type=number]::-webkit-outer-spin-button, .sheet-armorcard input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.charsheet .sheet-defensedisplay .sheet-armorcard input {
	width: 4rem;
	background: var(--palette-screen-background);
	border: 2px solid var(--palette-cool-glow);
	font-size: 20px;
	outline: none;
	box-shadow: none;
	height: 20px;
	text-align: center;
}

.sheet-armor-h {
	position: absolute;
	top: 10px;
	left: calc(50% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-ct {
	position: absolute;
	top: 100px;
	left: calc(50% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-rt {
	position: absolute;
	top: 100px;
	left: calc(20% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-lt {
	position: absolute;
	top: 100px;
	right: calc(20% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-ra {
	position: absolute;
	top: 200px;
	left: calc(30% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-la {
	position: absolute;
	top: 200px;
	right: calc(30% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-rl {
	position: absolute;
	top: 300px;
	left: calc(30% - calc(var(--var-armorwidth) / 2));
}
.sheet-armor-ll {
	position: absolute;
	top: 300px;
	right: calc(30% - calc(var(--var-armorwidth) / 2));
}
div.sheet-armorcard div {
    background: #098C87;
    padding: 0px 5px;
}
/*=============== Armor CSS Display =============*/
input[type="hidden"].sheet-armor-damage[value="1"] + div div:first-of-type {
	background: var(--damage-light);
}
	input[type="hidden"].sheet-armor-damage[value="1"] + div div:first-of-type input {
		border-color: var(--damage-light);
	}

input[type="hidden"].sheet-armor-damage[value="2"] + div div:first-of-type {
	background: var(--damage-heavy);
}
	input[type="hidden"].sheet-armor-damage[value="2"] + div div:first-of-type input {
		border-color: var(--damage-heavy);
	}
input[type="hidden"].sheet-armor-damage[value="3"] + div div:first-of-type {
	background: var(--palette-disabled);
	border: 2px solid var(--damage-heavy);
}
	input[type="hidden"].sheet-armor-damage[value="3"] + div div:first-of-type input {
		border-color: var(--palette-disabled);
	}
/*=============== Internal CSS Display =============*/
input[type="hidden"].sheet-internal_css[value="1"] + div {
	background: var(--damage-light);
}
	input[type="hidden"].sheet-internal_css[value="1"] + div {
		border-color: var(--damage-light);
	}

input[type="hidden"].sheet-internal_css[value="2"] + div {
	background: var(--damage-heavy);
}
	input[type="hidden"].sheet-internal_css[value="2"] + div {
		border-color: var(--damage-heavy);
	}
input[type="hidden"].sheet-internal_css[value="3"] + div {
	background: var(--palette-disabled);
	border-color: var(--damage-heavy);
}
/*	input[type="hidden"].sheet-internal_css[value="3"] + div {
		border-color: var(--palette-disabled);
	}*/
/*=============== Rear Armor Display =============*/
.sheet-reararmor {
	position: absolute;
	bottom: 20px;
	left: 10%;
	right: 10%;
	height: 200px;
	text-align: center;
	border: 2px solid var(--palette-cool-glow);
	border-width: 20px 2px 2px 2px;
	transform: translate(0px, 180px) rotateX(25deg);
	transition: all 300ms var(--var-transition-in) 600ms;
}
.sheet-reararmor:hover, .sheet-reararmor:focus-within {
	transform: scale(1) translate(0px, 40px);
	transition: all 300ms var(--var-transition-in);
	border: 2px solid var(--palette-cool-glow);
}
.sheet-reararmor::before {
	background: url('https://i.imgur.com/zhC7Bzu.gif');
	background-repeat: no-repeat;
	background-position: top;
	position: absolute;
	z-index: -1;
	content: "";
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
	opacity: 0;
	transition: all 300ms var(--var-transition-in) 600ms;
}
.sheet-reararmor:hover::before, .sheet-reararmor:focus-within::before {
	opacity: 1;
	transition: all 300ms var(--var-transition-in);
}
.sheet-reararmor .sheet-armor-ct {
	position: absolute;
	top: 100px;
	left: calc(50% - calc(var(--var-armorwidth) / 2));
}
.sheet-reararmor .sheet-armor-rt {
	position: absolute;
	top: 100px;
	right: calc(20% - calc(var(--var-armorwidth) / 2));
	left: unset;
}
.sheet-reararmor .sheet-armor-lt {
	position: absolute;
	top: 100px;
	left: calc(20% - calc(var(--var-armorwidth) / 2));
	right: unset;
}


/*----------------------- Location Grid =============*/
.sheet-defensedisplay > div[class*="right"] {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 20px 1fr 1fr;
	grid-template-areas: 
		"header header"
		"crit1 internals"
		"crit2 internals";
}
.sheet-defensedisplay > div[class*="left"], .sheet-defensedisplay .sheet-torso-center {
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 20px 1fr 1fr;
	grid-template-areas: 
		"header header"
		"internals crit1"
		"internals crit2";
}
.sheet-defensedisplay .sheet-head {
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 20px 1fr 1fr;
	grid-template-areas: 
		"header header"
		"crit1 internals"
		"systems systems";
}

.sheet-defensedisplay .sheet-crittable1 {grid-area: crit1;}
.sheet-defensedisplay .sheet-crittable2 {grid-area: crit2;}
.sheet-defensedisplay .sheet-internaldamage {grid-area: internals;}

.sheet-defensedisplay h2 {
	color: var(--palette-important);
	grid-area: header;
	font-size: 14px;
	line-height: 20px;
}
.sheet-defensedisplay .sheet-torso-center, .sheet-defensedisplay div[class*="left"] {
	border: 2px solid var(--palette-cool-glow);
	border-radius: 25px 0px 0px 25px;
	transition: 200ms var(--var-transition-in);
	transform: rotatey(-10deg) scale(0.95) translateX(100px);
}
.sheet-defensedisplay .sheet-head, .sheet-defensedisplay div[class*="right"] {
	border: 2px solid var(--palette-cool-glow);
	border-radius: 0px 25px 25px 0px;
	transition: 200ms var(--var-transition-in);
	transform: rotatey(10deg) scale(0.95) translateX(-100px);
}
/*----------------------- Crit Grid =============*/

.sheet-defensedisplay .sheet-crittable-1, .sheet-defensedisplay .sheet-crittable-2 {
	margin: 1px;
	padding: 2px;
	display: grid;
	grid-template-columns: 18px 5px 1fr;
	grid-template-rows: repeat(auto-fit, 15px);
	font-size: 11px;
	color: var(--palette-important);
}
.sheet-defensedisplay input {
	box-sizing: border-box;
	height: 12px;
	width: auto;
	margin: 0px 2px;
	padding: 2px;
	font-size: 12px;
	border: none;
}
.sheet-defensedisplay div h2 {
	grid-column: 1 / -1;
}
.sheet-defensedisplay h2 {text-align: center;}
.sheet-defensedisplay .sheet-head {grid-area: head;}
.sheet-defensedisplay .sheet-torso-left {grid-area: torso-l;}
.sheet-defensedisplay .sheet-torso-center {grid-area: torso-c;}
.sheet-defensedisplay .sheet-torso-right {grid-area: torso-r;}
.sheet-defensedisplay .sheet-arm-right {grid-area: arm-r;}
.sheet-defensedisplay .sheet-arm-left {grid-area: arm-l;}
.sheet-defensedisplay .sheet-leg-right {
	grid-area: leg-r;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 20px 1fr;
	grid-template-areas: 
		"header header"
		"crit1 internals";
	
}
.sheet-defensedisplay .sheet-leg-left {
	grid-area: leg-l;
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-template-rows: 20px 1fr;
	grid-template-areas: 
		"header header"
		"crit1 internals";
	
}
/*----------------------- Critical Systems =============*/
.sheet-systems {
	display: flex;
	flex-direction: column;
	grid-area: systems;
	margin: 5px;
	border: 4px double var(--palette-cool-glow);
	border-radius: 20px;
	padding: 6px 10px;
}
.sheet-systems .sheet-radio-container {
	bottom: 0px;
}
.sheet-systems input[type="radio"] {
	height: 20px;
	width: 10px;
}
/*----------------------- Internals =============*/
.sheet-defensedisplay .sheet-internaldamage {
	display: flex;
	flex-direction: column;
	border: 4px double var(--palette-cool-glow);
	border-radius: 20px;
	text-align: center;
	margin: 2px 4px;
	padding: 5px;
	font-size: 12px;
	transition: all 200ms;
}
.sheet-defensedisplay .sheet-internaldamage input {
	border: 1px solid var(--palette-cool-glow);
	border-radius: 10px;
	font-size: 20px;
	height: 22px;
	width: 40px;
}
/*=============== Scroll Bars =============*/

.sheet-screendisplay::-webkit-scrollbar-track, textarea::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: var(--palette-cool-light)
}

.sheet-screendisplay::-webkit-scrollbar, textarea::-webkit-scrollbar
{
    width: 8px;
    background-color: var(--palette-cool-light);
}

.sheet-screendisplay::-webkit-scrollbar-thumb, textarea::-webkit-scrollbar-thumb
{
    background-color: #F90; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                                              transparent 25%,
                                              transparent 50%,
                                              rgba(255, 255, 255, .2) 50%,
                                              rgba(255, 255, 255, .2) 75%,
                                              transparent 75%,
                                              transparent)
}





div.sheet-tab-content {
    display: none;
}


/*===================== CSS =========================*/
/*=============== Top Folder Tabs0 =========*/
.sheet-TopFolderTabs0-image {
	flex-direction: column;
	border: 4px double var(--palette-cool-glow);
	justify-content: top;
	align-items: left;
	margin: 0;
	padding: 25px;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	background: url(https://i.imgur.com/hVnSB8E.png);
	height: 88px;
	width: 711px;
}


/*===================== CSS =========================*/
/*=============== Top Folder Tabs00 =========*/
.sheet-TopFolderTabs00-image {
	flex-direction: column;
	border: 4px double var(--palette-cool-glow);
	justify-content: top;
	align-items: left;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	background: url(https://i.imgur.com/fO8m6Df.png);
	height: 220px;
	width: 711px;
}


/*===================== CSS =========================*/
/*=============== Top Folder Tabs01 =========*/
.sheet-TopFolderTabs01-image {
	flex-direction: column;
	border: 4px double var(--palette-cool-glow);
	justify-content: top;
	align-items: left;
	margin: 0;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Barlow Condensed';
	background: url(https://i.imgur.com/MG59b1s.png);
	height: 220px;
	width: 711px;
}




.CurrentAffiliationOption[value='A'] {
	background-image: url(https://i.imgur.com/fO8m6Df.png);
  	background-position: center;
  	background-repeat: no-repeat;
 	height: 220px;
}

.CurrentAffiliationOption[value='B'] {
	background-image: url(https://i.imgur.com/MG59b1s.png);
  	background-position: center;
  	background-repeat: no-repeat;
 	height: 220px;
}





* {
    box-sizing: border-box;
}
